/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caesar Dressing", sans-serif;
}

/* Header */
header {
    background-image: linear-gradient(to right, rgb(158, 82, 200), rgb(194, 226, 81), rgb(230, 45, 76));
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
    color: white;
}

/* Main Content */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.title {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: linear-gradient(to bottom, rgb(132, 179, 57), rgb(222, 67, 67), rgb(133, 111, 232));
    border-radius: 8px;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.nutrition-facts {
    font-size: 14px;
}

.main-image-cont {
    width: 100%;
    max-width: 600px;
}

.main-image-cont img {
    width: 100%;
    max-width: 100%; /* Ensures image doesn't exceed container width */
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.main-image-cont img:hover {
    transform: scale(1.05); /* Increase size on hover */
}

/* Footer */
footer {
    background-color: #f0f0f0;
    padding: 20px;
}

.About {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.text, .image-container, .contact {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    max-width: 100%; /* Ensures image doesn't exceed container width */
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.05); /* Increase size on hover */
}

.text h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact input[type="email"],
.contact input[type="tel"],
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.contact input[type="submit"] {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

/* Media Query for responsiveness */
@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .text, .image-container, .contact {
        margin-bottom: 0;
    }
}
